{% extends "base.html" %}
{% block content %}
<h2>{{ title }}</h2>
<form method="POST" class="row g-3">
    {{ form.hidden_tag() }}
    <div class="col-md-4">{{ form.first_name.label }}{{ form.first_name(class="form-control") }}</div>
    <div class="col-md-4">
        <label class="form-label">Middle Name</label>
        <input type="text" name="middle_name" class="form-control"
               value="{{ pupil.middle_name if pupil and pupil.middle_name else '' }}"
               placeholder="Optional">
    </div>
    <div class="col-md-4">{{ form.last_name.label }}{{ form.last_name(class="form-control") }}</div>
    <div class="col-md-4">{{ form.admission_no.label }}{{ form.admission_no(class="form-control") }}</div>
    <div class="col-md-4">{{ form.gender.label }}{{ form.gender(class="form-select") }}</div>
    <div class="col-md-4">{{ form.date_of_birth.label }}{{ form.date_of_birth(class="form-control") }}</div>
    <div class="col-md-6">{{ form.class_id.label }}{{ form.class_id(class="form-select") }}</div>
    <div class="col-md-6">{{ form.stream_id.label }}{{ form.stream_id(class="form-select") }}</div>
    <div class="col-md-6">{{ form.parent_name.label }}{{ form.parent_name(class="form-control") }}</div>
    <div class="col-md-6">{{ form.parent_phone.label }}{{ form.parent_phone(class="form-control") }}</div>
    <div class="col-md-6">{{ form.parent_email.label }}{{ form.parent_email(class="form-control") }}</div>
    <div class="col-md-6">{{ form.address.label }}{{ form.address(class="form-control") }}</div>
    <div class="col-12 d-flex gap-2 flex-wrap">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('pupils') }}" class="btn btn-secondary">Cancel</a>
        {% if pupil is defined and pupil and pupil.id and pupil.admission_no %}
        <a href="{{ url_for('auth.create_pupil_user', pupil_id=pupil.id) }}"
           class="btn btn-success"
           onclick="return confirm('Create login for this pupil?\n\nUsername: {{ pupil.admission_no }}\nPassword: {{ pupil.last_name }}')">
            <i class="fa fa-key"></i> Create Pupil Login
        </a>
        {% endif %}
    </div>
</form>
{% endblock %}
